.note-parent {
  border: 1px solid black;
  width: 40vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 30%;
  margin-top: 4%;
}

.icon-parent{
  /* border: 1px solid red ; */
  width: 25%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.checkbox-icon {
  width: 20px;
  height: 20px;
  margin: 7px;
}

.brush-icon {
  width: 20px;
  height: 20px;
  margin: 7px;
}
